<section id="sidebar">
  <div class="inner">
    <nav>
      <ul>
        <li><a href="#intro">Welcome</a></li>
        <li><a href="#one">My Projects</a></li>
        <li><a href="#two">About Me</a></li>
        <li><a href="#three">Get in touch</a></li>
      </ul>
    </nav>
  </div>
</section>

<!-- Wrapper -->
<div id="wrapper">

  <!-- Intro -->
    <section id="intro" class="wrapper style1 fullscreen fade-up">
      <div class="inner">
        <div id="image-container">
        </div>

        <h1>Joshua Thomas</h1>
        <p> Going from working as a Line Cook</a><br />
        to Full-Stack Web Development</p>
        <ul class="actions">
          <li><a href="#one" class="button scrolly">Learn more</a></li>
        </ul>
      </div>
    </section>

  <!-- One -->
    <section id="one" class="wrapper style2 spotlights">
      <section>
        <a href="#" class="image"><img src="images/blackjack.png" alt="" data-position="center center" /></a>
        <div class="content">
          <div class="inner">
            <h2>Black Jack</h2>
            <p>Blackjack game using pure JavaScript, including different logics for winning, losing, “doubling down”, etc.</p>
            <ul class="actions">
              <li><a href="https://josh35767.github.io/black-jack-game/" target="_blank" class="button">View It Live</a></li>
              <li><a href="https://github.com/josh35767/black-jack-game" target="_blank" class="button">See the Code</a></li>

            </ul>
          </div>
        </div>
      </section>
      <section>
        <a href="#" class="image"><img src="images/cookyourcraving.png" alt="" data-position="1% 1%" /></a>
        <div class="content">
          <div class="inner">
            <h2>Cook Your Craving</h2>
            <p>Express Application built in a week. Allows users to share and view other user created recipes by ethnicity. Includes features such as writing reviews, making bookmarks and uploading their own recipes.</p>
            <ul class="actions">
              <li><a href="https://cookyourcraving.herokuapp.com/" target="_blank" class="button">View It Live</a></li>
              <li><a href="https://github.com/josh35767/CookYourCraving" target="_blank" class="button">See the Code</a></li>
            </ul>
          </div>
        </div>
      </section>
      <section>
        <a href="#" class="image"><img src="images/musicorum.png" alt="" data-position="center center" /></a>
        <div class="content">
          <div class="inner">
            <h2>Musicorum</h2>
            <p>Full Stack Angular2 Application built in a week and a half. Users are able to search a large music database to find songs they forgot by a line of lyrics. They’re also able to search by artist/track and save them to your profile.</p>
            <ul class="actions">
              <li><a href="http://www.musicorum.co/" target="_blank" class="button">View It Live</a></li>
              <li><a href="https://github.com/josh35767/Project3-Express" target="_blank" class="button">See the Code</a></li>
            </ul>
          </div>
        </div>
      </section>
    </section>

  <!-- Two -->
    <section id="two" class="wrapper style3 fade-up">
      <div class="inner">
        <h2>Who Am I?</h2>

        <p> My name is Joshua Thomas. I am a graduate from Ironhack Miami, a Web Development Bootcamp
           that teaches the fundamentals of coding and the MEAN stack. Before Ironhack, I worked in the culinary
           field for two years. I am extremely passionate about coding and hope to grow as a developer.
           I put a high value on learning, and am always trying to develop my skills. </p>

        <h3> Technologies I've Worked With </h3>

        <p>Node.js, JavaScript, MongoDB, Express, jQuery, AJAX, Angular2, Git, GitHub, HTML, CSS, SASS, Bootstrap,
        Responsive Design</p>

        <h3> Learn More </h3>
        <ul>
          <li>
            <a href="https://www.linkedin.com/in/josht7/"> My LinkedIn</a>
          </li>
          <li>
            <a href="https://github.com/josh35767"> My GitHub</a>
          </li>
        </ul>

        <ul class="actions">
          <li><a href="JoshuaThomasResume.pdf" class="button"> View my Resume </a></li>
        </ul>
      </div>
    </section>

  <!-- Three -->
    <section id="three" class="wrapper style1 fade-up">
      <div class="inner">
        <h2>Get in touch</h2>
        <p> If you have any further questions for me, feel free to contact me at my email, or connect with me on LinkedIn.</p>
        <div class="split style1">

          <section>
            <ul class="contact">
              <li>
                <h3>Email</h3>
                <a href="mailto:josh.thomas7@yahoo.com">josh.thomas7@yahoo.com</a>
              </li>
              <li>
                <h3>LinkedIn</h3>
                <a href="https://www.linkedin.com/in/josht7/"> https://www.linkedin.com/in/josht7/ </a>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </section>

</div>

<!-- Footer -->
<footer id="footer" class="wrapper style1-alt">
  <div class="inner">
    <ul class="menu">
      <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>
</footer>
