<!DOCTYPE HTML>
<html>
	<head>
		<title>Hyperspace by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="javascripts/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="stylesheets/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="stylesheets/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="stylesheets/ie8.css" /><![endif]-->
	</head>
	<body>
    <%- body %>
    <script src="javascripts/jquery.min.js"></script>
  			<script src="javascripts/jquery.scrollex.min.js"></script>
  			<script src="javascripts/jquery.scrolly.min.js"></script>
  			<script src="javascripts/skel.min.js"></script>
  			<script src="javascripts/util.js"></script>
  			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
  			<script src="javascripts/main.js"></script>

  	</body>
  </html>
